*{
    margin: 0;
    padding: 0;
    /* background-color: #f5f7fa; */
    /* font-family: var(--phoenix-body-font-family); */
    /* background: linear-gradient(to right, #00b09b, #96c93d); */
  /* -webkit-background-clip: text; */
  /* color: transparent; */
}
.container-main{
    /* border: 2px solid blue; */
    
}

    

.page{
    display: flex;
    justify-content: flex-start;
    list-style: none;
   
    
    gap: 40px;
}
ul{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
.course{
    /* display: block; */
    /* unicode-bidi: isolate; */
    /* --phoenix-gutter-x: 2rem; */
    /* --phoenix-gutter-y: 0; */
    /* margin-block-start: 1em; */
    /* margin-block-end: 1em; */
    /* margin-inline-start: 0px; */
    /* margin-inline-end: 0px; */
    padding-inline-start: 35px;
    /* unicode-bidi: isolate; */
}
.course h2{
    /* margin-bottom: .5rem; */
    font-weight: 800;
    font-size: 2.8rem;
    margin-top: 0;
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1;
    box-sizing: border-box;

    
    font-weight: bold;
    

}
.course h5{
    
    margin-top: 0;
    /* margin-bottom: .25rem; */
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1;
    color: gray;
    /* display: block; */
    font-size: 1.4rem;
    margin-block-start: 1.1rem;
   

}

.Add-course{
   display: flex;
   justify-content: space-between;
   margin-right:80px;
    
} 
.course-button {
    display: flex;
    gap: 10px;
}
.course-button button{
    padding: 10px;
}
.discard{
    width: 130px;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.1;
    border-radius: 8px;
    
}
.discard:hover{
    background-color: #8a94ad;
}
.save{
    width: 130px;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.1;
    color: blue;
    border-radius: 8px;
}

.save:hover{
    background-color: #8a94ad;
}
.Publish{
    width: 180px;
    font-size: 1.1rem;
    font-weight: 500;
    color: #fff;
    background-color: blue;
    border-radius: 8px;

}