*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 10px #000;
}
.navbar .search-box{
    /* flex: 4; */
    position: relative;

}
.search-box input{
    width: 250%;
    height: 50px;
    border: none;
    background: #f2f2f2;
    border-radius: 30px;
    color: gray;
    font-size: 16px;
    text-align: center;
    outline: none;
    

}