.background-main{
    background-color: #f5f7fa;

}
.mycls{
    width: 100%;
    /* border:1px solid black; */
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    /* border: 2px solid red; */
    
    /* justify-content: flex-end; */
}
.org-main{
    width: 30%;
    height: 500px;
    margin-top: 40px;
    margin-right: 80px;
    background-color: #fff;
    display: flex;
    align-items: top;
    justify-content: start;
    /* border: 2px solid yellow; */

} 
